<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>

<!DOCTYPE html>
<html lang="en">
<head>
<title>Welcome to my site</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

</style>
<link href="projectStyles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
   <br>
   
 	
    <p><h2> I am a enthusiastic about new technologies and how they impact our lives.
     Willing to learn and share for continous improvement. Excited to work collaboratively in agile situations.</h2> </p>
      <br> 
                                                     
   <h4>My Resume - James Kuzhilaparambil</h4>
    <p>Open in PDF <a href="\Assets\images\resume3.pdf">resume</a></p> 
 
    	<img src="\Assets\images\img8.jpg"alt="About James kuzhilaparambil" width="200" height="200">
     
  

  <br>
 
 
 </div>
</body>
</html>

 

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




