<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>

    <!DOCTYPE html>
<html lang="en">
<head>
<title>James Kuzhilaparambil</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

</style>
<link href="projectStyles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
     
  <form method="post" action="mailto:xyz@gmail.com">
  
  <p> Email : rhinosaur2000@gmail.com</p>
  
  <br>
  <br>
  
  
  <label id="firstname"> First Name </label>
  <input id="firstname" type="text" /><br><br>
  
  <label id="lastname"> Last Name </label>
  <input id="lastname" type="text" /><br><br>

  <label id="phone"> Contact # </label>
  <input id="phone" type="tel" /><br><br>

  <label id="email"> Email Address </label>
  <input id="email" type="text" /><br><br>


  <label id="additionalcomments"> Message </label>
  <textarea id="additionalcomments" cols="20" rows="2"></textarea>
   <!-- user redirect to home screen -->
 <br><br> <input name="Submit1" type="button" onclick="window.location.href='/'" value="Send " />&nbsp;<input name="Reset1" type="reset" value="Clear" />
  </form>
  
  
 	 
  
 </div>
</body>
</html>

      

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




