<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>

     
     
     
     <!DOCTYPE html>
<html lang="en">
<head>
<title>Welcome to my site</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

</style>
<link href="projectStyles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
       <br>
       <br>
       <br>

 
 	  	<h2> Mission</h2>

       <br>
       <br>
       <br>
       <br>
       
 

    <ul>
      <li><h2> Understand the tools of technology</h2></li>
      <li><h2> Make use of it to benefit society</h2></li>
      <li><h2> Keep learning and improving</h2></li>
   
 </ul>
   
   <br>
   <br>
   <br>
   
   

 </div>
</body>
</html>




  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




