<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>

<br>
<!DOCTYPE html>
<html lang="en">
<head>
<title>Projects</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

</style>
<link href="projectStyles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="wrapper">
       
  <br>
  
 	<h3> Real estate agent advertisement (click to enlarge)</h3>

 	<p>
 		<a href="\Assets\images\wpqlwoho.jpg">
 		<img src="\Assets\images\wpqlwoho.jpg" width="100" height="100"> </a>
 		<br> Developed a real estate agent advertisement as part of first semester project in HTML and CSS. 	</p>
 	<br>
 	<h3> Bug Smasher Game (click to enlarge)</h3>
 	
 	<p>
 		<a href="\Assets\images\wph6qbqv.jpg">
 		<img src="\Assets\images\wph6qbqv.jpg" width="100" height="100"> </a>
 		<br> Bug Smasher game using JavaScript
  </p>
 	<br>
 	<h3> Airline Reservation Booking System </h3>
 	<p>
 		 		<br> Developed Airline reservation booking system using SQL and database concepts 	</p>
 	
 	

 	

 
  </div>
</body>
</html>



 

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




